<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="robfernandes.xyz.mynews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controller.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.Activities.SearchActivity"
            android:label="Search"
            android:parentActivityName=".Controller.Activities.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Controller.Activities.AboutActivity"
            android:label="About"
            android:parentActivityName=".Controller.Activities.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.Activities.MainActivity" />
        </activity>
        <activity android:name=".Controller.Activities.NotificationsActivity"
            android:label="Notifications"
            android:parentActivityName=".Controller.Activities.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.Activities.MainActivity" />
        </activity>
        <activity android:name=".Controller.Activities.HelpActivity"
            android:label="Help"
            android:parentActivityName=".Controller.Activities.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.Activities.MainActivity" />
        </activity>
        <activity android:name=".Controller.PreferenceActivity" />
    </application>

</manifest>