<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="robfernandes.xyz.mynews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.Activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Activities.SearchSelectorActivity"
            android:label="Search"
            android:parentActivityName=".ui.Activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.AboutActivity"
            android:label="About"
            android:parentActivityName=".ui.Activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.NotificationsActivity"
            android:label="Notifications"
            android:parentActivityName=".ui.Activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.HelpActivity"
            android:label="Help"
            android:parentActivityName=".ui.Activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.NewsDisplayActivity"
            android:label="NewsDisplay"
            android:parentActivityName=".ui.Activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.SearchDisplayActivity"
            android:label="SearchDisplay"
            android:parentActivityName=".ui.Activities.SearchSelectorActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Activities.SearchSelectorActivity" />
        </activity>
        <receiver android:name=".receiver.AlarmManagerReceiver"></receiver>
    </application>

</manifest>